.toolBar {
  width: 5%;
  height: 95%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    rgba(24, 49, 115, 1) 0%,
    rgba(20, 70, 115, 1) 100%
  );
  border-radius: 10px;
  opacity: 1;

  .icon {
    margin: 20px 0;
    cursor: pointer;
  }
  .icon:hover {
    opacity: 0.5;
  }
}
